extend _page_base

block custom_header
	include _header
	#main_titile
		picture
			source(media="(max-width: 768px)" srcset=`${res.company_info.mobile_image_path}`)
			img(src=`${res.company_info.image_path}`)

block content
		#infomation
			#topics
				each item in get_pages()
					#summary
						img(src=`${item.thumbnail}`)
						p
							a(href=`${item.path}`) #{item.title} #{item.summary}
			#prerelease
				h2 #{res.index.prerelease_title}
				table
					each item in res.index.prerelease_list
						tr
							td #{item.date}
							td #{item.text}
		#sidebar

block custom_footer
	include _footer
